// Основные цвета
$color-white: #ffffff;
$color-black: #000000;
$color-secondary: #fff6ea;
$color-primary: #990b31;
$color-primary-light: #cc0d49;
$color-primary-dark: #7b0827;
$color-navbar-btn: #aa3454;
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.20);

// Цвета для шкалы серого
$color-gray-100: #f4f6f8;
$color-gray-200: #c1c9d2;
$color-gray-300: #a3acb9;
$color-gray-600: #4f566b;